<div align="center">
	<h1>Symplifica Gestion de Empleados - Empleador</h1>
</div>
<div>
	<table align="center"  border="1">
				<caption>Ingrese a un modulo</caption>
				<tr>
					<ul>
					<td><li></td>
					<td><a href={{path('luis.symfony_cempleado')}}>[Enlace de Creacion de Empleado]</a></td>
				</tr>
				<tr>	
					<td><li></td>
					<td>[Enlace para la creacion de Empleador]</td>
				</tr>
				<tr>
					<td><li></td>
					<td>[Enlace para Reporte]</td>
					</ul>	
				</tr>
				
	
	</table>
</div>