<div align="center">
	<h1>Symplifica Sistema de Gestion de Empleados - SIGEMP </h1>
</div>
<div>
	<table align="center"  border="0">
				<caption><h2>Ingrese a un modulo</h2></caption>
				<tr>
					<ul>
					<td><li></td>
					<td><a href={{path('luis.symfony_cempleado')}}><button>Registrar Nuevo Empleado</button></a></td>
				</tr>
				<tr>	
					<td><li></td>
					<td><a href={{path('luis.symfony_cempleador')}}><button>Registrar Nuevo Empleador</button></a></td>
				</tr>
				<tr>
					<td><li></td>
					<td><a href="reporte"><button>Generar Reporte</button></a></td>
					</ul>	
				</tr>	
	</table>
</div>
<div align="center" style="color:skyblue;">
	<p>Desarrollado por LUIS MIGUEL MOYA CORREA</p>
	<p>Telefonos : 3114722724 -- 3124806317 --4967835</p>
	<p>CorreoE: mio_546@hotmail.com -- mikemoyaoficial@gmail.com -- luis.moyac@campusucc.edu.co</p>
	<p>2017 - 12 Ver 0.1</p>


</div>